html{
	height:100%;
	background:#fff;
}
body{
	width:100%;
	max-width:640px;
	margin:0 auto;
	height:100%;
	background:#F1F1F1;
}
header{
	width:100%;
	height:29px;
	background:#0F91C5;
	padding-top:8px;
}
.tit_btn{
	width:106px;
	height:22px;
	margin:0 auto;
	
}
header .tit_btn div{
	float: left;
	width:53px;
	height:22px;
	background:#57b2d7;
	font-size:12px;
	color:#b1e4f8;
	text-align:center;
	line-height:22px;
}
header .tit_btn div:nth-child(1){
	border-radius:10px 0 0 10px;
}
header .tit_btn div:nth-child(2){
	border-radius:0 10px 10px 0;
}
header .tit_btn .actives{
	background:#79c1df;
	color:#fff;
}
.nav{
	width:100%;
	height:33px;
	border-bottom:1px solid #d9d9d9;
	background:#FFFFFF;
}
.nav li{
	width:33%;
	height:29px;
	float:left;
	text-align: center;
	line-height:33px;
	font-size:14px;
	color:#000;
	transition: all 0.2s;
}

.nav .lActives{
	border-bottom:5px solid #0f91c5;
}
.main{
	width:100%;
}
.main .list{
	width:100%;
	margin-top:5px;
	background:#fff;
}
/*.main .list .user{
	 -webkit-column-count: 2;
        -webkit-column-gap: 5px;
        -webkit-column-width: 200px;

        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -moz-column-rule: 5px solid #333;
        -moz-column-width: 210px;

        column-count: 2;
        column-gap: 5px;
        column-width: 200px;
}*/
.main .list .user{
	overflow: hidden;
	width:100%;
}
.main .list dl{
	margin-bottom:5px;
	width:48%;
	border:1px solid #CCCCCC;
}
.main .list dl:nth-child(even){
	float: right;
}
.main .list dl:nth-child(odd){
	float: left;
}
.main .list dd{
	border-top:1px solid #CCCCCC;
	padding:5px;
	font-size:14px;
}
.main2 .pkq{
	width:95%;
	padding:12px 0 10px 5%;
	margin-top:5px;
	background:#fff;
}
.main2 .grills{
	width:95%;
	padding:12px 0 10px 5%;
	margin-top:5px;
	background:#fff;
}
.picher img{
	width:100%;
	border-bottom:1px solid #AAAAAA;
}
.main2 .user{
	overflow: hidden;
	width:100%;
}
.main2 .pkq .meng img{
	width:42px;
	height:42px;
	margin-right:3%;
	display: block;
	float: left;
}
.main2 .grills .meng img{
	width:42px;
	height:42px;
	margin-right:3%;
	display: block;
	float: left;
	border-radius:50%;
	border:1px solid #AAAAAA;
}
.main2 .pkq h4{
	float: left;
	font-size:14px;
}
.main2 .grills h4{
	float: left;
	font-size:14px;
}
.main2 .pkq p{
	font-size:12px;
	color:#ccc;
}
.main2 .grills p{
	font-size:12px;
	color:#ccc;
}
.main2 .wanzi{
	width:97%;
	height:33px;
	line-height:33px;
	padding-left:3%;
	font-size:14px;
	background:#fff;
}
footer{
	width:100%;
	height:39px;
	background:#FFFFFF;
	border-top:1px solid #cdcdcd;
	position:absolute;
	bottom:0;
}
footer dl{
	float: left;
	width:51px;
	height:39px;
	color:#ccc;	
}
footer a:nth-child(1){
	margin-right:17px;
}
footer a:nth-child(3){
	float:right;
}
footer a:nth-child(4){
	float:right;
	margin-left:13px;
}
footer dt{
	height:22px;
	line-height:22px;
	text-align: center;
	font-size:16px;
}
footer dd{
	text-align: center;
	font-size:12px;
}
footer .dlActives{
	color:#0F91C5;
}
footer .paizhao{
	position:absolute;
	left:44%;
	bottom:2%;
	width:41px;
	height:41px;
	border-radius:50%;
	border:2px solid #ccc;
	text-align:center;
	line-height:38px;
	background:#fff;
	color:#CCCCCC;
}
footer .paizhao i{
	font-size:30px;
}
footer a{
	display: block;
}




















